{
  "version": "2017-02-28",
  "operation": "PutItem",
  "key": {
    "id": { "S": "${context.arguments.name}" },
    "sort-id": { "S": "detail" }
  },
  "attributeValues": {
    "owner": { "S": "${context.arguments.owner}" },
    "title": { "S": "${context.arguments.title}" },
    "description": { "S": "${context.arguments.description}" },
    "updated_at": { "N": $util.time.nowEpochSeconds() }
  }
}