#set ( $items = [] )

#foreach ( $item in $context.result.items )
  #set ( $result = $util.map.copyAndRemoveAllKeys($item, [ "sort_id" ]) )

  $util.qr( $items.add( $result ) )
#end

$utils.toJson($items)
