{
  "version": "2017-02-28",
  "operation": "Query",
  "index": "name",
  "query": {
    "expression": "#name = :name",
    "expressionNames": {
      "#name": "name"
    },
    "expressionValues": {
      ":name": { "S": "${context.arguments.name}" }
    }
  }
}