{
  "version": "2017-02-28",
  "operation": "Query",
  "index": "owner",

  #set ( $account = $context.prev.result )
  "query": {
    "expression": "#owner = :owner",
    "expressionNames": {
      "#owner": "owner"
    },
    "expressionValues": {
      ":owner": { "S": "${account.id}" }
    }
  },
  "scanIndexForward": false
}